:root /*html*/ {
  --main-color: hsl(230 60% 30%); 
  /* hsl --> hue {number from 0 to 360, 0 is red, 120 is green, 240 is blue.} - saturation {percent. 0% means a shade of gray and 100% is the full color.} - lightness {percent. 0% is black, 100% is white.} 
  to choose: https://www.w3schools.com/colors/colors_hsl.asp */
  
  color-scheme: light dark;
  /* enables canvas & canvastext values */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: canvastext;
  /*
  in light mode: canvas --> white / canvastext --> black
  in dark mode: canvas --> black / canvastext --> white
  */
}

button { 
  --_color: var(--color, blue); /* this is a pseudo-private property which has a fallback */
  border: 2px solid var(--_color);
  border-radius: 40px;
  background-color: transparent;
  color: var(--_color);
  font-family: inherit;
  font-size: inherit;
  padding: .25em .5em;
  margin-bottom: 1em;
  transition: .35s;
}

button:hover {
  box-shadow: 0 0 0 5em var(--_color) inset;
  color: var(--main-color);
}

.button-pink {
  --color: pink;
}

mark {
  /* By default <mark> has bg --> yellow / color --> black */
  background-color: var(--main-color);
  color: aqua;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: hsl(250 60% 10%);
  }
  
  .App-header {
    background-color: var(--main-color);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
