.window.about-me {
  left: 850px;
  bottom: 80px;
  width: 500px;
  height: 600px;
}

.top-bar i.about-me-icon {
  background-image: url(../icons/help_book_big-0.png);
}

.wrapper.about-me {
  width: 100%;
  height: calc(100% + 1px);
  -webkit-overflow-scrolling: touch !important;
  overflow-y: auto !important;
}

.wrapper.about-me::-webkit-scrollbar {
  width: 18px;
}

.wrapper.about-me::-webkit-scrollbar-thumb {
  background-color: var(--interface-color);
  box-shadow: var(--shadow) 1px 1px 0px 0px inset, var(--interface-color-accent) 1px 1px 0px 1px inset, var(--shadow) -1px -1px 0px 0px inset, var(--interface-color-accent) -1px -1px 0px 1px inset;
}

.wrapper.about-me h1,
.wrapper.about-me h2,
.wrapper.about-me h3,
.wrapper.about-me p {
  padding-left: 1rem;
}



@media only screen and (min-width: 320px) and (max-width: 575.98px) {
  .window.about-me {
    left: 65px;
    bottom: 220px;
    width: 275px;
    height: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .window.about-me {
    left: 300px;
    bottom: 350px;
    width: 400px;
    height: 600px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .window.about-me {
    left: 600px;
    bottom: 100px;
    width: 400px;
    height: 550px;
  }
}