.App {
  text-align: center;
  font-size: 90%;
  font-family: 'Anonymous Pro', monospace;
  color: var(--shadow);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: calc(100vh - var(--navbar-size)) var(--navbar-size);
  overflow-y: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  /* background-color: var(--main-color); */
  background-image: url(../videos/aberAhora.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.folder-container {
  position: absolute;
  top: 2.5%;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.folder-container i {
  width: var(--folder-size);
  height: var(--folder-size);
  background-image: url(../icons/message_file-0.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  justify-self: center;
  margin: 0px 0px .5rem 0px;
}

.folder-container span {
  width: calc(var(--folder-size) + 4rem);
  height: auto;
  margin: 0;
  color: var(--shadow);
}

.socials-modal-position {
  position: absolute;
  bottom: calc(var(--navbar-size) + 1.75rem);
  left: var(--menu-size);
}

.menu-position {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: calc(var(--navbar-size) + .05rem);
}

.navbar-position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  align-self: end;
}

.window {
  position: absolute;
  background-color: var(--interface-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

.top-bar {
  background-color: var(--hover-color);
  width: calc(100% - 2px);
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
}

.top-bar i {
  position: absolute;
  width: var(--small-icon-size);
  height: var(--small-icon-size);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0px 5px 0px 5px;
}

.top-bar span {
  margin: 0px 0px 0px 1.75rem;
}

.top-bar button {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 2px;
  border: none;
  box-shadow: var(--box-shadow);
  background-color: var(--interface-color);
}

.top-bar button div {
  width: 10px;
  height: 10px;
  background-color: var(--shadow);
  margin: 0 auto;
  clip-path: var(--close-icon);
}

.content {
  width: calc(100% - 2px);
  height: calc(100% - 22px);
  background-color: var(--light);
  margin: 1px 0px 0px 0px;
  box-shadow: var(--box-shadow-window);
}

.wrapper {
  text-align: left;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.file-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-container i {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


@media only screen and (min-width: 320px) and (max-width: 575.98px) {
  .socials-modal-position {
    bottom: calc(var(--navbar-size) + .25rem);
    left: calc(var(--menu-size) - 30px);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --main-color: hsl(180, 100%, 25%);
  }

  .App {
    background-color: var(--main-color);
  }
  
  @supports (color: lch(0% 0 0)) {
     Only Safari supports 'lch' to date 2021 
    :root {
      --main-color: lch(47.986% 31.685 196.455);
    }
  }
}
 */
