.menu {
    width: var(--menu-size);
}

.menu-wrapper {
    width: 100%;
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--interface-color);
    box-shadow: var(--box-shadow);
}

.item {
    display: flex;
    align-items: center;
    padding: .5rem 0 .5rem 0;
    color: var(--shadow);
}

.item:hover,
.item.mail:hover a{
    background-color: var(--hover-color);
    color: var(--light);
}

.item i {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 .5rem 0 .25rem;
}

.item span {
    cursor: default;
}

.item.mail {
    padding: 0 !important;
}

.item.mail a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    outline: 0;
    color: var(--shadow);
    text-align: left;
    padding: 1rem 0 1rem 0;
    right: 100px;
}

.item div.arrow {
    position: absolute;
    left: calc(var(--menu-size) - 20px);
    width: 10px;
    height: 10px;
    background-color: var(--shadow);
    margin: 0 auto;
    clip-path: var(--arrow-icon);
}

.item:hover div.arrow {
    background-color: var(--light);
}

.br {
    height: 1px;
    width: 96%;
    border-top: 0.5px solid var(--interface-color-accent);
    border-bottom: 0.5px solid var(--light);
    margin-left: 3px;
}

i.contact-icon {
    background-image: url(../icons/envelope_closed-0.png);

}

i.aboutMe-icon {
    background-image: url(../icons/help_book_big-0.png);

}

i.socials-icon {
    background-image: url(../icons/computer_explorer_cool-5.png);

}

i.skills-icon {
    background-image: url(../icons/console_prompt-0.png);

}

i.designs-icon {
    background-image: url(../icons/paint_old-0.png);

}

@media only screen and (min-width: 320px) and (max-width: 575.98px) {
    .menu {
        width: calc(var(--menu-size) - 30px);
    }

    .item i {
        height: 1.5rem;
        width:  1.5rem;
    }
    .item div.arrow {
        left: calc(var(--menu-size) - 50px);
    }
}