.window.text {
    left: 150px;
    bottom: 370px;
    width: 220px;
    height: 150px;
}

.top-bar i.text-icon-small {
    background-image: url(../icons/message_file-0.png);
}
.wrapper.text p a {
    color: var(--hover-color);
}

@media only screen and (min-width: 320px) and (max-width: 575.98px) {
    .window.text {
        left: 30px;
        bottom: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .window.text {
        left: 60px;
        bottom: 600px;
        height: 200px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .window.text {
        left: 60px;
        bottom: 320px;
    }
}