.window.welcome {
    left: 80px;
    bottom: 300px;
    width: 250px;
    height: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 575.98px) {
    .window.welcome {
        left: 30px;
        bottom: 200px;
        width: 200px;
        height: 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .window.welcome {
        left: 70px;
        bottom: 120px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .window.welcome {
        left: 80px;
        bottom: 100px;
    }
}